{% extends "base.html" %}
{% load static %}


{% block special_header %}
<div class="online flex-c-c">
    <div class="light-animation">
        <div class="blue-light"></div>
        <div class="yellow-light"></div>
    </div>
    <div class="onlineBlock">
        Online
    </div>
    
    <div class="btns-index">
        <div class="download top" >
            <a href="{% url 'discord' %}" class="download-button bright"
                style="background: url('/static/img/discord.png') no-repeat;font-size:16px;">Unete a
                <span>Discord</span></a>
        </div>
        <div class="download bottom">
            <a href="{% url 'downloads' %}" class="download-button bright">Descargar <span>Cliente</span></a>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<main class="main">
    <aside>

        <div class="forumHome blockHome">
            <div class="h2-title h2-title-table flex-s-c">
                <span>Noticias</span> <a href="{% url 'index'%}">Ver todo</a>
            </div>
            <div class="forumBlock-content">
                {% for news in recent_news_list %}
                    <div class="forumBlock">
                        <div class="forumBlock-ava">
                            <img src="{% if news.images.first %}{{ news.images.first.image.url }}{% else %}{% static 'img/default-image.jpg' %}{% endif %}" alt="{{ news.title }}" height="298" width="691">
                        </div>
                        <div class="forumBlock-text">
                            <a href="{% url 'news_detail' news.id news.category.id %}" class="forumBlock-text_link">{{ news.title }}</a>
                            <div class="forumBlock-text_info">
                                <span class="forumBlock-text_info-nick">by <a href="{% url 'index' %}" title="Fighter-Pro">Admin</a></span> |
                                <span class="forumBlock-text_info-date">{{ news.fechaSubida }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="socHome">
            <a href="https://www.youtube.com/channel/UCSx3Ugo-md4BF2M-b65s10g" target="_blank" rel="noreferrer"
                class="socButton socYoutube">
                YouTube
                <span>Canal Oficial</span>
            </a>
            <a href="{% url 'discord' %}" target="_blank" rel="noreferrer" class="socButton socDiscord">
                Discord
                <span>Comunidad</span>
            </a>
            <a href="https://www.facebook.com/L2Meta/?ref=embed_page" target="_blank" rel="noreferrer"
                class="socButton socFacebook">
                Facebook
                <span>Página Oficial</span>
            </a>
            <div class="socBlock flex-c-c">
                <a href="{% url 'index'%}" class="socBlock-guides socBlock-button">
                    Guias
                    <span>Centro de Información</span>
                </a>
                <a href="{% url 'discord' %}" target="_blank" rel="noreferrer" class="socBlock-forum socBlock-button">
                    Discord
                    <span>Comunidad</span>
                </a>
            </div>
        </div>
    </aside>
    <div class="content content-page">
        <div class="h2-title h2-title-content flex-s-c">
            <span> Noticias </span> <a href="{% url 'index' %}">{{ actualNew.title }}</a>
        </div>
        {% if actualNew.images.all %}
            <p><img src="{{ actualNew.images.all.0.image.url }}" alt="{{ actualNew.title }}" height="298" width="691"></p>
        {% endif %}
        <p>{{ actualNew.description }}</p>
        <h3>Detalles Adicionales:</h3>
    
        <h3>Algunas de las Zonas Stronghold que se activarán:</h3>
        <div data-oembed-url="https://youtu.be/uOSaoovPt7s?si=ACzbJEq5R1jRLlic">
            <div>
                <div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;">
                    <iframe allow="accelerometer *; clipboard-write *; encrypted-media *; gyroscope *; picture-in-picture *; web-share *;"
                            allowfullscreen scrolling="no" src="https://if-cdn.com/rKPjziT"
                            style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;"
                            tabindex="-1"></iframe>
                </div>
            </div>
        </div>
        <!-- Mostrar las imágenes restantes -->
        {% for image in actualNew.images.all|slice:'1:' %}
            <h3><br><br>
                <p><img src="{{ image.image.url }}" alt height="298" width="691"></p>
            </h3>
        {% endfor %}
        <div class="page-date"><span>{{ actualNew.fechaSubida.day }}</span>/{{ actualNew.fechaSubida|date:"m/Y" }}</div>
    </div>
    
</main>

<div id="fb-root"></div>

<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "100841992850797");
    chatbox.setAttribute("attribution", "biz_inbox");
</script>

<script>
    window.fbAsyncInit = function () {
        FB.init({
            xfbml: true,
            version: 'v18.0'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
</div>
{% endblock %}
