<!-- index.html -->
{% extends "base.html" %}
{% load static %}
{% block special_head %}
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
        n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '786732722390405');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=786732722390405&ev=PageView&noscript=1" /></noscript>



<script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PQS23PD5');</script>


<meta name="facebook-domain-verification" content="97zbl1f1jzqsix46rx8ch1626ucudi" />
{% endblock %}

{% block special_header %}
<div class="online flex-c-c">
    <div class="light-animation">
        <div class="blue-light"></div>
        <div class="yellow-light"></div>
    </div>
    <div class="onlineBlock">
    </div>

    <div class="btns-index">
        <div class="download top" >
            <a href="{% url 'discord' %}" class="download-button bright"
                style="background: url('/static/img/discord.png') no-repeat;font-size:16px;">Unete a
                <span>Discord</span></a>
        </div>
        <div class="download bottom">
            <a href="{% url 'downloads' %}" class="download-button bright">Descargar <span>Cliente</span></a>
        </div>
    </div>
</div>

{% endblock %}
{% block content %}

<main class="main">
    <aside>

        <div class="forumHome blockHome">
            <div class="h2-title h2-title-table flex-s-c">
                <span>News</span> <a href="{% url 'index' %}">View all</a>
            </div>
            <div class="forumBlock-content">
                <div class="forumBlock">
                    <div class="forumBlock-ava">
                        <img src="{% static 'img/forum-ava_2.png'%}" alt>
                    </div>
                    <div class="forumBlock-text">
                        <a href="news/index.html" class="forumBlock-text_link">Exclusive farm zone</a>
                        <div class="forumBlock-text_info">
                            <span class="forumBlock-text_info-nick">by <a
                                    title="Fighter-Pro">Admin</a></span> |
                            <span class="forumBlock-text_info-date">17/05/2024 21:20</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="socHome">
            <a href="https://www.youtube.com/@meta365cl" target="_blank" rel="noreferrer"
                class="socButton socYoutube">
                YouTube
                <span>Canal Oficial</span>
            </a>

            <a href="" target="_blank" rel="noreferrer"
                class="socButton socTwitch">
                Twitch
                <span>Streaming</span>
            </a>
            <a href="{% url 'discord' %}" target="_blank" rel="noreferrer" class="socButton socDiscord">
                Discord
                <span>Comunidad</span>
            </a>
            <a href="https://www.facebook.com/L2Meta?_rdc=1&_rdr" target="_blank" rel="noreferrer" class="socButton socFacebook">
                Facebook
                <span>Página Oficial</span>
            </a>
            <div class="socBlock flex-c-c">
                <a href="{% url 'index' %}" class="socBlock-guides socBlock-button">
                    Guias
                    <span>Centro de Información</span>
                </a>
                <a href="{% url 'discord' %}" target="_blank" rel="noreferrer" class="socBlock-forum socBlock-button">
                    Discord
                    <span>Comunidad</span>
                </a>
            </div>
        </div>
    </aside>
    <div class="content">
        <div class="h2-title h2-title-content flex-s-c">
            <h1>Downloads</h1>
        </div>
        <div class="downloadBlock-content">
            <div class="downloadBlock-title">
                Descargas
            </div>
            
            <!--<div class="downloadBlock" style="padding-right:0px;padding-left:0px;">
                <iframe style="max-width: 100%;width:100%;" width="560" height="315"
                    src="" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>--> 
            <div class="downloadBlock">
                <div class="downloadBlock-title">
                    Descargas Drive <span></span>
                </div>
                <div class="flex-c-c downloadBlock-buttons">
                    <a href="https://drive.google.com/file/d/18fyHT56y4DGPA3ffWq2tU6ofL1XaR1th/view?usp=sharing"
                        class="googleButton d-button" target="_blank" rel="noreferrer">Descargar Updater</a>
                    <a href="https://drive.google.com/file/d/1Xw5gCyvMgTLzF-723csNlikC4msu3DBR/view?usp=sharing"
                        class="googleButton d-button" target="_blank" rel="noreferrer">Juego Listo</a>
                    <a href="https://dri ve.google.com/file/d/1huWpvGRhCLEicDsaDJtdT-AkRbe80Kow/view?usp=sharing"
                        class="googleButton d-button" target="_blank" rel="noreferrer">Patch System (opcional)</a>
                </div>
            </div>
            <div class="downloadBlock">
                <div class="downloadBlock-title">
                    Descargas Mediafire
                </div>
                <div class="downloadBlock-text">
                </div>

                <div class="downloadBlock-button">
                    <a href="https://www.mediafire.com/file/xsu1mw80dapm2yu/L2MetaUpdater_v4.rar/file" target="_blank" rel="noreferrer" class="button">Descargar Updater</a>
                </div>
                <div class="downloadBlock-button">
                    <a href="https://www.mediafire.com/file/7d0sc7m4824pc4c/L2Meta07-07-2024.rar/file" target="_blank" rel="noreferrer" class="button">Juego Actualizado</a>
                </div>
            </div>

        </div>
        <!--<div class="mirror">
            <span class="mirror-title">This section contains everything you need to play L2ESports.</span>
            <div class="mirrorBlock">
                <p>Clean Client 1 [Google Drive]: <span>Download - 2.5 GB</span></p>
                <a href="https://drive.google.com/file/d/1-rnT6KB6bw0cQ1bs9Ro83oRlAcj6wPZ8/view?usp=sharing"
                    target="_blank" rel="noreferrer" class="button">Download</a>
            </div>
            <div class="mirrorBlock">
                <p>Clean Client Mirror 2 [Google Drive]: <span>Download - 2.5 GB</span></p>
                <a href="https://drive.google.com/file/d/1IYKl4vIslz2GrOjgVF-Bl8uwh_aHLZuS/view?usp=sharing"
                    target="_blank" rel="noreferrer" class="button">Download</a>
            </div>
            <div class="mirrorBlock">
                <p>Clean Client Mirror 3 [Mega]: <span>Download - 2.5 GB</span></p>
                <a href="https://mega.nz/file/fUNkXbCB#itVxYAcdQ6L4KAgsnQC6kleSwqkCFA0YVE65owk5w1s" target="_blank"
                    rel="noreferrer" class="button">Download</a>
            </div>
            <div class="mirrorBlock">
                <p>Patch (Without launcher) [Google Drive]: <span>Download - 2.0 GB</span></p>
                <a href="https://drive.google.com/file/d/113hBRVl2Ecy92x9KC7NLW75G_zU3XjmK/view?usp=drive_link"
                    target="_blank" rel="noreferrer" class="button">Download</a>
            </div>
            <div class="mirrorBlock">
                <p>Patch (Without launcher) [Google Drive - Opción 2]: <span>Download - 2.0 GB</span></p>
                <a href="https://drive.google.com/file/d/1GOc8XKPqlmkH1zH8rLBQkPCsABO91_Vb/view?usp=sharing"
                    target="_blank" rel="noreferrer" class="button">Download</a>
            </div>
            <div class="mirrorBlock">
                <p>Patch (Without launcher) [Mega]: <span>Download - 2.0 GB</span></p>
                <a href="https://mega.nz/file/7EUzRCCY#lXXND2IO1y0_9c2Y0z9hZKyHUB1hML4r0mjCwpxMSi0" target="_blank"
                    rel="noreferrer" class="button">Download</a>
            </div>
            <div class="mirrorBlock">
                <p>Interface Silent [Optional]: <span>Download</span></p>
                <a href="https://www.mediafire.com/file/u8hmj3fo329ohek/Silent_Dark_R2.7z/file" target="_blank"
                    rel="noreferrer" class="button">Ir</a>
            </div>
        </div>--> 
    </div>
</main>
<div id="fb-root"></div>

<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "100841992850797");
    chatbox.setAttribute("attribution", "biz_inbox");
</script>

<script>
    window.fbAsyncInit = function () {
        FB.init({
            xfbml: true,
            version: 'v18.0'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
</div>
<div class="toTop">
    <span>Go to Top</span>
</div>
<div id="register" class="modal_div">
    <span class="modal_close"></span>
    <form>
        <div class="modalContent">
            <span class="modalTitle">Sign in</span>
            <div class="enterButtons">
                <a href="{% url 'discord' %}" class="discord-button">Conectar con Discord</a>
                <a href="https://www.facebook.com/L2Meta?_rdc=1&_rdr" class="facebook-button">Conectar con Facebook</a>
            </div>
        </div>
    </form>
</div>
<div id="overlay"></div>




{% endblock %}