<!-- index.html -->
{% extends "base.html" %}
{% load static %}


{% block special_header %}
<div class="online flex-c-c">
    <div class="light-animation">
        <div class="blue-light"></div>
        <div class="yellow-light"></div>
    </div>
    <div class="onlineBlock">
        Online
    </div>
    <div class="onlineReg flex-c-c">
        <div class="onlineReg-block" style="width:300px;font-size: 19px;width: 300px">
            <span id="goCountdown"></span>
            Grand Opening
        </div>
    </div>
</div>
<div class="download top" style="
right: 200px;">
    <a href="discord.html" class="download-button bright"
        style="background: url('/static/img/discord.png') no-repeat;font-size:16px;">Join our
        <span>Discord</span></a>
</div>
<div class="download" style="right:-200px;">
    <a href="downloads.html" class="download-button bright">Download <span>Client</span></a>
</div>
{% endblock %}
{% block content %}


<link href="{% static 'css/style.css'%}" rel="stylesheet">
<!-- There goes any news that I decide in -->
<main class="page news">
    <div id="newslist" class="bottom-wrapper">
        <div class="h2-title h2-title-content flex-s-c">
            <h1>Lineage 2 Interlude - L2 Interlude x10 - Autofarm - L2ESports</h1>
        </div>
        <div class="toolbar">
            <a href="{% url 'index' %}" data-filter="all" class="active">Todo</a>
            <span class="separator"></span>
            <a href="{% url 'index' %}" data-filter="news">News</a>
            <span class="separator"></span>
            <a href="{% url 'index' %}" data-filter="changelog">Changelog</a>
            <span class="separator"></span>
            <a href="{% url 'index' %}" data-filter="features">Features</a>
            <span class="separator"></span>
            <a href="{% url 'index' %}" data-filter="bosses">Bosses</a>
            <span class="separator"></span>
            <a href="{% url 'index' %}" data-filter="quests">Quests</a>
        </div>
        <div class="news-list">
            <a class="news-card index-0 light" href="https://l2esports.pro/seasons-interlude-server">
                <div class="thumb tag-border-sales"
                    style="background-image:url('/static/storage/uploads/1715987432_2JptMSDOdw.jpg')"></div>
                <div class="content-wrapper">
                    <div class="gameTags">
                        <div class="tag features tag-bg-sales">FEATURES</div>
                    </div>
                    <div class="caption">17/05/2024</div>
                    <p class="description">Server Info - SEASONS x30 Server</p>
                </div>
            </a>
            <a class="news-card index-1 light" href="calendar.html">
                <div class="thumb tag-border-sales"
                    style="background-image:url('/static/storage/uploads/1715990824_SUeYrEYhVd.jpg')"></div>
                <div class="content-wrapper">
                    <div class="gameTags">
                        <div class="tag features tag-bg-sales">FEATURES</div>
                    </div>
                    <div class="caption">17/05/2024</div>
                    <p class="description">Calendar</p>
                </div>
            </a>
            <a class="news-card index-2 light" href="top-clan.html">
                <div class="thumb tag-border-sales"
                    style="background-image:url('/static/storage/uploads/1711495061_snuiutk6hf.jpg')"></div>
                <div class="content-wrapper">
                    <div class="gameTags">
                        <div class="tag features tag-bg-sales">FEATURES</div>
                    </div>
                    <div class="caption">17/05/2024</div>
                    <p class="description">TOP CLAN - BASES</p>
                </div>
            </a>
            <a class="news-card index-3 light" href="l2esportsclub.html">
                <div class="thumb tag-border-sales"
                    style="background-image:url('/static/storage/uploads/1709322168_Mh4WSbaPqs.jpg')"></div>
                <div class="content-wrapper">
                    <div class="gameTags">
                        <div class="tag features tag-bg-sales">FEATURES</div>
                    </div>
                    <div class="caption">17/05/2024</div>
                    <p class="description">FOR CONTENT CREATORS</p>
                </div>
            </a>
            <a class="news-card index-4 light" href="https://l2esports.pro/vote">
                <div class="thumb tag-border-sales"
                    style="background-image:url('https://l2esports.pro/storage/uploads/1699000837_6oFsNa9lyX.jpg')">
                </div>
                <div class="content-wrapper">
                    <div class="gameTags">
                        <div class="tag features tag-bg-sales">FEATURES</div>
                    </div>
                    <div class="caption">17/05/2024</div>
                    <p class="description">Vote and get rewards</p>
                </div>
            </a>
            <a class="news-card index-5 light" href="stronghold.html">
                <div class="thumb tag-border-sales"
                    style="background-image:url('/static/storage/uploads/1698536399_ItjU55erc9.jpg')"></div>
                <div class="content-wrapper">
                    <div class="gameTags">
                        <div class="tag news tag-bg-sales">NEWS</div>
                    </div>
                    <div class="caption">17/05/2024</div>
                    <p class="description">Exclusive farm zone</p>
                </div>
            </a>
            <a class="news-card index-6 light" href="cofen.html">
                <div class="thumb tag-border-sales"
                    style="background-image:url('/static/storage/uploads/1692473867_IeNAFBlfyA.jpg')"></div>
                <div class="content-wrapper">
                    <div class="gameTags">
                        <div class="tag features tag-bg-sales">FEATURES</div>
                    </div>
                    <div class="caption">17/05/2024</div>
                    <p class="description">Epic Boss Cofen</p>
                </div>
            </a>
            <a class="news-card index-7 light" href="https://l2esports.pro/3rdclass">
                <div class="thumb tag-border-sales"
                    style="background-image:url('https://l2esports.pro/storage/uploads/1692424368_SepR6l9VVn.jpg')">
                </div>
                <div class="content-wrapper">
                    <div class="gameTags">
                        <div class="tag features tag-bg-sales">FEATURES</div>
                    </div>
                    <div class="caption">17/05/2024</div>
                    <p class="description">3rd Class - Guide</p>
                </div>
            </a>
            <a class="news-card index-8 light" href="pawnshop.html">
                <div class="thumb tag-border-sales"
                    style="background-image:url('/static/storage/uploads/1682443807_RQumNmTe91.jpg')"></div>
                <div class="content-wrapper">
                    <div class="gameTags">
                        <div class="tag features tag-bg-sales">FEATURES</div>
                    </div>
                    <div class="caption">17/05/2024</div>
                    <p class="description">Sell your items without an offline shop.</p>
                </div>
            </a>
            <a class="news-card index-9 light" href="events.html">
                <div class="thumb tag-border-sales"
                    style="background-image:url('/static/storage/uploads/1692420518_AyVnsbaKve.jpg')"></div>
                <div class="content-wrapper">
                    <div class="gameTags">
                        <div class="tag features tag-bg-sales">FEATURES</div>
                    </div>
                    <div class="caption">17/05/2024</div>
                    <p class="description">Party Farm - Chaotic Zones - TvT - Death Match - Tournaments</p>
                </div>
            </a>
            <a class="news-card index-10 light" href="xayassandel.html">
                <div class="thumb tag-border-sales"
                    style="background-image:url('/static/storage/uploads/1692466030_uRRF9rsW4p.jpg')"></div>
                <div class="content-wrapper">
                    <div class="gameTags">
                        <div class="tag features tag-bg-sales">FEATURES</div>
                    </div>
                    <div class="caption">17/05/2024</div>
                    <p class="description">Epic Boss Xayassandel</p>
                </div>
            </a>
            <a class="news-card index-11 light" href="https://l2esports.pro/olimpiad-games">
                <div class="thumb tag-border-sales"
                    style="background-image:url('https://l2esports.pro/storage/uploads/1698543139_2Oxe8m0khR.jpg')">
                </div>
                <div class="content-wrapper">
                    <div class="gameTags">
                        <div class="tag features tag-bg-sales">FEATURES</div>
                    </div>
                    <div class="caption">17/05/2024</div>
                    <p class="description">Olympiad Games</p>
                </div>
            </a>
            <a class="news-card index-12 light" href="rebirth.html">
                <div class="thumb tag-border-sales"
                    style="background-image:url('/static/storage/uploads/1696344469_3yi8TBYoH7.jpg')"></div>
                <div class="content-wrapper">
                    <div class="gameTags">
                        <div class="tag features tag-bg-sales">FEATURES</div>
                    </div>
                    <div class="caption">17/05/2024</div>
                    <p class="description">Rebirth System</p>
                </div>
            </a>
            <a class="news-card index-13 light" href="graphic-resources.html">
                <div class="thumb tag-border-sales"
                    style="background-image:url('/static/storage/uploads/1692973152_JcRqHeo5NA.jpg')"></div>
                <div class="content-wrapper">
                    <div class="gameTags">
                        <div class="tag features tag-bg-sales">FEATURES</div>
                    </div>
                    <div class="caption">17/05/2024</div>
                    <p class="description">Images, videos, animations, logos, wallpaper</p>
                </div>
            </a>
            <a class="news-card index-14 light" href="https://l2esports.pro/mails">
                <div class="thumb tag-border-sales"
                    style="background-image:url('/static/storage/uploads/1692474476_xNXDhjsrRC.jpg')"></div>
                <div class="content-wrapper">
                    <div class="gameTags">
                        <div class="tag features tag-bg-sales">FEATURES</div>
                    </div>
                    <div class="caption">17/05/2024</div>
                    <p class="description">Send, Buy, and Sell Items</p>
                </div>
            </a>
            <a class="news-card index-15 light" href="subclass.html">
                <div class="thumb tag-border-sales"
                    style="background-image:url('/static/storage/uploads/1692422341_3ZvhsyP4pL.jpg')"></div>
                <div class="content-wrapper">
                    <div class="gameTags">
                        <div class="tag features tag-bg-sales">FEATURES</div>
                    </div>
                    <div class="caption">17/05/2024</div>
                    <p class="description">Subclass - Guide</p>
                </div>
            </a>
            <a class="news-card index-16 light" href="chaoticzone.html">
                <div class="thumb tag-border-sales"
                    style="background-image:url('/static/storage/uploads/1682444019_mmkblgfBtp.jpg')"></div>
                <div class="content-wrapper">
                    <div class="gameTags">
                        <div class="tag features tag-bg-sales">FEATURES</div>
                    </div>
                    <div class="caption">17/05/2024</div>
                    <p class="description">Chaotic Zones - User Guide</p>
                </div>
            </a>
            <a class="news-card index-17 light" href="partyfarm.html">
                <div class="thumb tag-border-sales"
                    style="background-image:url('/static/storage/uploads/1682444782_fuvzMhXRPZ.jpg')"></div>
                <div class="content-wrapper">
                    <div class="gameTags">
                        <div class="tag features tag-bg-sales">FEATURES</div>
                    </div>
                    <div class="caption">17/05/2024</div>
                    <p class="description">Party Farm - User Guide</p>
                </div>
            </a>
        </div>
    </div>
</main>
<div id="fb-root"></div>

        <div id="fb-customer-chat" class="fb-customerchat">
        </div>
        <script>
            var chatbox = document.getElementById('fb-customer-chat');
            chatbox.setAttribute("page_id", "100841992850797");
            chatbox.setAttribute("attribution", "biz_inbox");
        </script>

        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    xfbml: true,
                    version: 'v18.0'
                });
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        



{% endblock %}
  