<!-- index.html -->
{% extends "base.html" %}
{% load static %}
{% load custom_filters %}


{% block special_header %}
<div class="online flex-c-c">
    <div class="light-animation">
        <div class="blue-light"></div>
        <div class="yellow-light"></div>
    </div>
    <div class="onlineBlock">
        Online
    </div>

    <div class="download top" style="left: 25vw;">
        <a href="discord.html" class="download-button bright"
            style="background: url('/static/img/discord.png') no-repeat;font-size:16px;">Join our
            <span>Discord</span></a>
    </div>
    <div class="download" style="left:56vw">
        <a href="downloads.html" class="download-button bright">Download <span>Client</span></a>
    </div>
</div>

{% endblock %}
{% block content %}


<link href="{% static 'css/style.css'%}" rel="stylesheet">
<!-- There goes any news that I decide in -->
<main class="page news">
    <div id="news-list" class="bottom-wrapper">
        <div class="h2-title h2-title-content flex-s-c">
            <h1>Lineage 2 Interlude - L2 Interlude x10 - Autofarm - L2ESports</h1>
        </div>
        <div class="toolbar">
            <a href="{% url 'index' %}" data-filter="all" class="active">Todo</a>
            <span class="separator"></span>
            <a href="{% url 'index' %}" data-filter="news">News</a>
            <span class="separator"></span>
            <a href="{% url 'index' %}" data-filter="changelog">Changelog</a>
            <span class="separator"></span>
            <a href="{% url 'index' %}" data-filter="features">Features</a>
            <span class="separator"></span>
            <a href="{% url 'index' %}" data-filter="bosses">Bosses</a>
            <span class="separator"></span>
            <a href="{% url 'index' %}" data-filter="quests">Quests</a>
        </div>
        <div class="row">
            {% for news in news_list %}
            <a class="col-4 news-card index-{{ forloop.counter }} light {{news.category.name}}" href="{% url 'news_detail' news.id news.category.id %}">
                <div class="thumb tag-border-sales" style="background-image:url('{{ news.images.all.0.image.url }}')"></div>
                <div class="content-wrapper">
                    <div class="gameTags">
                        <div class="tag features tag-bg-sales">{{ news.category.name }}</div>
                    </div>
                    <div class="caption">{{ news.fechaSubida|date:"d/m/Y" }}</div>
                    <p class="description">{{ news.title }}</p>
                </div>
            </a>
            {% endfor %}
        </div>

    </div>

</main>
<div id="fb-root"></div>

<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "100841992850797");
    chatbox.setAttribute("attribution", "biz_inbox");
</script>

<script>
    window.fbAsyncInit = function () {
        FB.init({
            xfbml: true,
            version: 'v18.0'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>




{% endblock %}