<!-- index.html -->
{% extends "base.html" %}
{% load static %}


{% block special_header %}
<div class="online flex-c-c">
    <div class="light-animation">
        <div class="blue-light"></div>
        <div class="yellow-light"></div>
    </div>
    <div class="onlineBlock">
        Online
    </div>
    <div class="onlineReg flex-c-c">
        <div class="onlineReg-block" style="width:300px;font-size: 19px;width: 300px">
            <span id="goCountdown"></span>
            Grand Opening
        </div>
    </div>
</div>
<div class="download top" style="
right: 200px;">
    <a href="discord.html" class="download-button bright"
        style="background: url('/static/img/discord.png') no-repeat;font-size:16px;">Join our
        <span>Discord</span></a>
</div>
<div class="download" style="right:-200px;">
    <a href="downloads.html" class="download-button bright">Download <span>Client</span></a>
</div>
{% endblock %}
{% block content %}


<link href="{% static 'css/style.css'%}" rel="stylesheet">
<!-- There goes any news that I decide in -->
<main class="page news">
    <div id="newslist" class="bottom-wrapper">
        <div class="h2-title h2-title-content flex-s-c">
            <h1>Lineage 2 Interlude - L2 Interlude x10 - Autofarm - L2ESports</h1>
        </div>
        <div class="toolbar">
            <a href="{% url 'index' %}" data-filter="all" class="active">Todo</a>
            <span class="separator"></span>
            <a href="{% url 'index' %}" data-filter="news">News</a>
            <span class="separator"></span>
            <a href="{% url 'index' %}" data-filter="changelog">Changelog</a>
            <span class="separator"></span>
            <a href="{% url 'index' %}" data-filter="features">Features</a>
            <span class="separator"></span>
            <a href="{% url 'index' %}" data-filter="bosses">Bosses</a>
            <span class="separator"></span>
            <a href="{% url 'index' %}" data-filter="quests">Quests</a>
        </div>
        <div class="news-list">
            
            {% for news in news_list %}
                <div class="news-list">
                    <a href="{% url 'news_detail' news.id news.category.id %}">
                        <div class="thumb" style="background-image:url('{{ news.images.all.0.image.url }}')"></div>
                        <div class="content-wrapper">
                        <div class="gameTags">
                            <div class="tag">{{ news.category }}</div>
                        </div>
                        <p class="titulo">{{ news.title }}</p>
                        <div class="caption">{{ news.date_published }}</div>

                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</main>
<div id="fb-root"></div>

        <div id="fb-customer-chat" class="fb-customerchat">
        </div>
        <script>
            var chatbox = document.getElementById('fb-customer-chat');
            chatbox.setAttribute("page_id", "100841992850797");
            chatbox.setAttribute("attribution", "biz_inbox");
        </script>

        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    xfbml: true,
                    version: 'v18.0'
                });
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        



{% endblock %}
  